html, body {
  margin: 0;
  height: 100%;
}

#result-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: -1;
}

#left-fill, #right-fill {
  height: 100%;
  transition: width 0.8s ease;
}

#left-fill {
  background: red;
  width: 50%;
}

#right-fill {
  background: blue;
  width: 50%;
}

h1 {
  position: relative;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}

